[2018-02-05 11:17] cursorial opened #1 "Contributing"
Are you looking for people to contribute to this? If so - it might make sense to start creating issues around features that need implementing and bugs that need fixing?

I'd love to contribute if possible :)

A couple of things that could do with implementing just from looking at screenshots:

- GUI/HUD
- Menu Screen

[2018-02-05 11:25] ISNIT0 opened #2 "Zooming"
Needs Implementing

Please mark as a feature :)

[2018-02-05 11:48] cursorial opened #3 "Assets"
We could do with creating our own assets so we avoid any issues around copyright.

[2018-02-05 14:59] neuromancer commented on #3
We could also include a script that downloads the original assets from [archive.org](https://archive.org/details/SimCity2000_Special_Edition_Maxis-EA_Eng).

[2018-02-05 16:38] rage8885 commented on #3
I've got some preliminary code together to create tile maps from the source images, along with partially working code that can extract the original asset files. Hoping to get something pushed out within the next day or two that can pull assets from the original game files and remove the assets included here.

[2018-02-05 17:05] cdubz opened #4 "Keyboard events do not work in Windows build"
I was able to get this built on Windows, with one prerequisite - installing the `windows-build-tools` node package as described in [this SO answer](https://stackoverflow.com/questions/21658832/npm-install-error-msb3428-could-not-load-the-visual-c-component-vcbuild-ex#39235952): ``npm install --global --production windows-build-tools``

After running this, ``npm install`` does work. Unfortunately t

[2018-02-05 17:14] rage8885 commented on #4
Thanks for the feedback - I'm working on getting a Windows VM up and running so I can do some testing there as well.

[2018-02-05 17:19] cursorial commented on #4
I'm happy to take a look at getting it to build on Windows later on if you wanna assign this task to me?

[2018-02-05 17:19] whphhg opened #5 "Fails to start on Linux due to better-sqlite3 compiled version mismatch"
First of all, thank you for creating and open sourcing this! I used to love the original game, so this will be an awesome way to play from time to time and see the inner workings as well. :1st_place_medal:

After `npm install` I removed the comment enabling `mainWindow.webContents.openDevTools()` in `main.js` and the issue is (I've tried `npm rebuild` like it suggested as well):
[code]

[code]

[2018-02-05 17:21] cursorial commented on #5
Did you try rebuilding/reinstalling the module?

[2018-02-05 17:21] whphhg commented on #5
Not the module itself. How do I do that?

[2018-02-05 17:23] cursorial commented on #5
npm rebuild better-sqlite3

or

   npm install better-sqlite3

[2018-02-05 17:29] whphhg commented on #5
I've tried the following combinations but no cigar:
- `npm rebuild better-sqlite3` after a clean install
- installing `better-sqlite3` and starting
- rebuilding the project and the module after installing `better-sqlite3`

[2018-02-05 17:30] cdubz commented on #4
I realized I could still open the Developer Tools from the blank window and found this error -

``Exception has occurred: Error
Error: A dynamic link library (DLL) initialization routine failed.
[...] better_sqlite3.node``

This led me to [issue 36 for the better-sqlite3 library](https://github.com/JoshuaWise/better-sqlite3/issues/36) and the suggested solution there seems to work here as well: ``

[2018-02-05 17:33] cdubz commented on #5
See #4 as well - have you tried rebuilding electron with that command?

[2018-02-05 17:33] whphhg commented on #5
Rebuilding right now (just read your issue)! Will let you know in a bit.

[2018-02-05 17:38] whphhg commented on #4
This solves the Linux problem in issue #5 as well.

[2018-02-05 17:55] cursorial opened #6 "How do we plan on implementing simulation?"
Are we going to write approximate simulations where we observe the behaviour of the original game and attempt to emulate that, or are we going to try to use the same algorithms - if so, where are we going to get these from? Am I barking up the wrong tree completely?

[2018-02-05 18:49] msikma opened #7 "Check for sc2k save file doesn't run the function"
See the following line:

https://github.com/rage8885/OpenSC2K/blob/aca518c4814e85050661125053ace69f0cd3e280/js/import.js#L94

This does not actually call the `isSimCity2000SaveFile()` function, so the statement always concludes it's a valid save file.

[2018-02-05 18:53] proustibat commented on #1
Good idea! Maybe you could also create a roadmap with to-dos to share the features you wanna develop?
For issues, labels should be helpful.
Would be glad to contribute to fix some bugs

[2018-02-05 21:37] cursorial opened #8 "Main Menu"
We should create a main menu with the following options to replicate what we see in SimCity when the game starts up.

The options should include:

- Load Saved City
- Start New City
- Edit New Map
- Load Scenario
- Quit

Some of these options won't have implementations behind them yet, such as loading scenarios, although they could at least be created for now. It would be good to create a button c

[2018-02-05 21:58] cursorial opened #9 "Map Generation"
The base foundation of all maps is terrain generation - we need to talk about how we're going to implement this and whether we're going to attempt to replicate the original game's algorithm or if we're going to create one that simply comes close - we could also talk about providing different ways of generating terrain.

The most ideal scenario would be to provide all of these options - although it

[2018-02-05 23:17] kyr0 opened #10 "What about TypeScript?"
Hey,

I know, it might sound a bit crazy, but what about using TypeScript to organize the code a bit better? I mean, classes, interfaces, decorators and also all the syntactic sugar for asynchronous code execution like async/await, arrow functions etc. -- could be very helpful for a project like this?

Best

[2018-02-05 23:26] kyr0 commented on #6
Well, here is the original source code of Maxis, including the Simulation code in simulate.cpp.
It has been released unter GPL in 2008.

[MicropolisCore.zip](https://github.com/rage8885/OpenSC2K/files/1697167/MicropolisCore.zip)

Uploading it here to mirror it.

http://www.donhopkins.com/home/micropolis/

Reference:
https://weblogs.asp.net/bsimser/simcity-source-code-released-to-the-wild-let-the-p

[2018-02-05 23:32] kyr0 opened #11 "Data Storage: SQLite or alternative"
...if you can have localForage with localStorage? Removing SQLite would also eliminate the native dependency which in turn will fix a bunch of issues here (cross-platform native compile issues).

LocalStorage in electron is limited to 10MB in size. But for game data it should never exceed that limit, no?

The tile/city data could be exported into JSON files and thus be lazy-loaded. Wouldn't imply

[2018-02-05 23:38] kyr0 commented on #3
All original assets (xpm) including sounds are included in the zip referenced here:
https://github.com/rage8885/OpenSC2K/files/1697167/MicropolisCore.zip

[2018-02-05 23:49] kyr0 commented on #6
This might also be of some interest:

   https://github.com/SimHacker/micropolis/blob/wiki/InsideTheSimulator.md

[2018-02-06 01:05] SimHacker commented on #6
The section titled "The Simulation Assemblage" starting on page 310 is probably where you want to start reading, since it has all the diagrams and analysis of how the SimCity algorithm works. But check out the rest of the paper -- there's some amazing stuff in there, including lots of background, theory, interviews and history!

[2018-02-06 03:02] rage8885 commented on #11
I started off with LocalStorage / JSON initially, but with some of the changes to how the cities were imported a SQL-like back end made sense. I'd like to remove the native dependency altogether however, that seems to be where most of the cross platform issues are popping up.

IndexedDB with a more "user friendly" interface is what I'm leaning towards right now, something like Dexie.js for example

[2018-02-06 03:03] rage8885 commented on #10
It could, and I'm slowly working to organize the code (it started off as a 1,000+ line POC initially) - however most of the things you've suggested are supported by native JS.

[2018-02-06 09:15] screeny05 opened #12 "Make importing SC2 Files more readable"
_Disclaimer: i wrote corrode_

Hi there, some time ago i had similar plans for rendering content of older games with javascript, so i wrote a small library for better reading binary files. It might fit your use-case if you're interested:

https://github.com/screeny05/corrode

[2018-02-06 15:35] jimmoores opened #13 "I just get a brown window"
Installed full xcode after warnings about commandline, did npm rebuild, npm start, still just gives me a big, brown window.

[2018-02-06 15:37] THEozmic commented on #13
Try running ./node_modules/.bin/electron-rebuild

[2018-02-06 15:45] whphhg commented on #13
Check out issue #4 and #5.

[2018-02-06 15:50] jimmoores commented on #13
brlliant, thanks, that worked

[2018-02-06 15:50] #13 closed

[2018-02-06 16:36] lvendrame opened #14 "Doesn't work on Windows."
I saw this error on Electron Developer Tools
`Uncaught Error: A dynamic link library (DLL) initialization routine failed.
\\?\D:\OpenSC2K\node_modules\better-sqlite3\build\Release\better_sqlite3.node
    at process.module.(anonymous function) [as dlopen] (ELECTRON_ASAR.js:172:20)
    at Object.Module._extensions..node (module.js:598:18)
    at Object.module.(anonymous function) [as .node] (ELECTRO

[2018-02-06 16:39] cdubz commented on #14
Check out #4, looks like the same issue with better-sqlite3.

[2018-02-06 16:49] lvendrame commented on #14
Tks

[2018-02-06 16:49] #14 closed

[2018-02-06 20:56] #4 closed

[2018-02-06 21:07] #5 closed

[2018-02-07 03:20] phocks opened #16 "Couldn't set selectedTextBackgroundColor from default ()"
Cloned, npm install, npm start

On macOS High Sierra

I get: `2018-02-07 13:18:13.574 Electron Helper[70006:6619075] Couldn't set selectedTextBackgroundColor from default ()`

and in the Electron console.

[code]

And I just get a blank brown screen

[2018-02-07 05:16] whphhg commented on #16
Try `node_modules/.bin/electron-rebuild -f -w better-sqlite3`. It worked for Windows in #4 and Linux in #5.

[2018-02-07 05:46] TheLarkInn opened #17 "webpack it!"
Hey!!! Sean from the webpack team! Would you take a PR if provided to bundle the assets on both main and renderer portions of this application?!

Pros: startup and render performance could be significantly faster!

Cons: have a build step?

I've been looking for a great case study for electron performance and app migration and I think this would be a great one.

Thanks!
Sean - webpack team

[2018-02-07 06:02] mozts2005 commented on #17
I would be willing to setup a CI build in appveyor for your webpack build step.

[2018-02-07 08:36] theronic opened #18 "OSX?"
Will this run on OSX? Haven't tried yet, but I see Linux and Windows instructions on README

[2018-02-07 08:59] vasilvestre opened #19 "Error at launch (in web console) (Using windows)"
Here the error :
`Uncaught Error: Une routine d'initialisation d'une bibliothèque de liens dynamiques (DLL) a échoué.
\\?\C:\OpenSC2K\node_modules\better-sqlite3\build\Release\better_sqlite3.node
    at process.module.(anonymous function) [as dlopen] (ELECTRON_ASAR.js:172:20)
    at Object.Module._extensions..node (module.js:598:18)
    at Object.module.(anonymous function) [as .node] (ELECTRON_AS

[2018-02-07 09:17] cursorial commented on #19
https://github.com/rage8885/OpenSC2K/issues/14

[2018-02-07 09:25] THEozmic commented on #18
@theronic It does run on OSX

[2018-02-07 09:34] cursorial commented on #19
Please read the README.

Its there for a reason.

[2018-02-07 09:35] cursorial commented on #18
Please read the README. It's there for a reason.

[2018-02-07 09:38] vasilvestre commented on #4
Step 5 didn't solve my problem with windows 10.

[2018-02-07 09:38] vasilvestre commented on #19
Well I did. And it doesn't work...

[2018-02-07 09:40] cursorial commented on #19
See issue https://github.com/rage8885/OpenSC2K/issues/4 for solution.

[2018-02-07 09:45] cursorial commented on #19
What output do you get after running Step 5. Can you try removing the OpenSC2K directory, cloning again and then running the commands and posting the output of each? Maybe something's going wrong during installation that we haven't seen yet.

[2018-02-07 10:04] ZYMoridae commented on #18
@theronic follow the README and it works

[2018-02-07 10:36] vasilvestre commented on #19
Full log here :
`C:\Users\vsilvestre
λ git clone https://github.com/rage8885/OpenSC2K.git
Cloning into 'OpenSC2K'...
remote: Counting objects: 2137, done.
remote: Compressing objects: 100% (2033/2033), done.
remote: Total 2137 (delta 112), reused 2112 (delta 99), pack-reused 0
Receiving objects: 100% (2137/2137), 24.63 MiB | 5.65 MiB/s, done.
Resolving deltas: 100% (112/112), done.
Checking out fi

[2018-02-07 11:00] cursorial commented on #19
It looks like you missed a step between npm install and npm start.

    node_modules/.bin/electron-rebuild -f -w better-sqlite3

As far as I'm aware the node version used by the author is 5.7, maybe try updating node if that doesn't work?

[2018-02-07 12:19] vasilvestre commented on #19
`C:\Users\vsilvestre\OpenSC2K (master) (OpenSC2K@0.0.1)
λ node_modules/.bin/electron-rebuild -f -w better-sqlite3
'node_modules' n’est pas reconnu en tant que commande interne
ou externe, un programme exécutable ou un fichier de commandes.`

[2018-02-07 12:22] vinzruzell opened #20 "Requesting for Filipino Translation"

[2018-02-07 12:24] cursorial commented on #19
Does the node_modules/.bin directory exist?

Try

    node_modules\.bin\electron-rebuild -f -w better-sqlite3

It looks like you're having a syntax error when you type it into CMD. If the above command doesn't work try using Git Bash (should have been installed when you installed git on your computer, it's a standalone executable that gives you a bash prompt rather than a windows prompt)

[2018-02-07 12:25] vasilvestre commented on #19
node_modules exist, and I use Cmder with git bash

[2018-02-07 12:31] cursorial commented on #19
Git bash wouldn't respond with that type of error - it would simply say

    $ node_modules
    bash: node_modules: command not found

You aren't using the right type of slashes, you are using forward slash, not back slash (windows FS uses back slashes). The prompt thinks you are trying to execute something called node_modules, try replacing all forward slashes with back slashes.

[2018-02-07 12:35] cdubz commented on #19
Note the directory separator with this command. On Windows it needs to be as @cursorial provides it above (`\`). Otherwise you’ll get the “node_modules unknown” error because Windows thinks you are asking for an executable as opposed to a folder.

I was trying not to be too verbose with the install instructions in the README, but perhaps there should be a separate list of steps for Windows to avoi

[2018-02-07 12:36] vasilvestre commented on #19
Look at my pastebin, I use backslash..

[2018-02-07 12:40] cdubz commented on #19
This line makes it sound like the Windows build tools are not being found:

`MSBUILD : error MSB4132: La version des outils "2.0" n'est pas reconnue. Les versions disponibles sont "14.0", "4.0".`

Perhaps wipe out `node_modules` and run through the install steps again? I think I had a similar issue when I ran a failed `npm install` the very first time.

[2018-02-07 14:17] vasilvestre commented on #19
https://pastebin.com/w08J83WF Again the error..

[2018-02-07 14:23] vasilvestre commented on #19
I FIXED IT !
Thanks to https://github.com/chjj/pty.js/issues/60

`open up a new cmd as administrator and run this command:
npm install --global --production windows-build-tools
then
npm config set msvs_version 2015 --global
close all instances of shell/cmd, reopen a cmd (regular this time, non-administrator) return to your directory where you are trying to run npm install and run it again`

I also

[2018-02-07 14:27] cursorial commented on #19
I was just about to comment with that command - well done.

This should be added to the README after where windows-build-tools is installed

- Run this
    npm config set msvs_version 2015 --global
- Close all instances of shell/cmd, reopen a CMD (non-admin), return to the OpenSC2K directory and run the following
    npm install

[2018-02-07 14:41] cdubz commented on #19
Curious. I wonder why I haven't had that same requirement for the two Windows installs I have done...

[2018-02-07 14:56] cursorial commented on #19
https://github.com/rage8885/OpenSC2K/pull/22

[2018-02-07 17:05] jonathanlinat opened #23 "electron-rebuild: The system cannot find the path specified. (Windows)"
I did exactly what it's described here:

1. `git clone https://github.com/rage8885/OpenSC2K` or download this repository
2. `cd OpenSC2K`
3. **Windows**: `npm install --global --production windows-build-tools` (as admin) installs Windows specific prerequisites
4. `npm install` downloads and installs the dependancies
5. **Windows/Linux**: `node_modules/.bin/electron-rebuild -f -w better-sqlite3` re

[2018-02-07 17:07] cursorial commented on #23
You're in the wrong directory.

    cd C:\Users\jonathan.linat\GitHub\OpenSC2K
    node_modules/.bin/electron-rebuild -f -w better-sqlite3

[2018-02-07 17:08] jonathanlinat commented on #23
![image](https://user-images.githubusercontent.com/14064112/35930300-51cb7a12-0c10-11e8-9709-81b232860217.png)

[2018-02-07 17:09] cursorial commented on #23
My bad, I used forward slashes, change all to backslash because Windows.

    node_modules\.bin\electron-rebuild -f -w better-sqlite3

[2018-02-07 17:09] jonathanlinat commented on #23
![image](https://user-images.githubusercontent.com/14064112/35930403-8e5514d4-0c10-11e8-8e92-77d1fbb9d0e8.png)

[2018-02-07 17:09] #23 closed

[2018-02-07 17:18] cursorial commented on #19
@cdubz Maybe your node installation was already configured to use that version of msvs - hard to tell.

[2018-02-07 17:36] rage8885 commented on #17
Sure

[2018-02-07 17:40] rage8885 commented on #18
#22 should help with this, thanks @cursorial

[2018-02-07 17:40] #18 closed

[2018-02-07 17:44] #10 closed

[2018-02-07 17:47] kyr0 commented on #10
OK

[2018-02-07 17:48] rage8885 commented on #12
Thank you for the suggestion. I took a look at the API documentation, it seems like it would be a total rewrite of the importer code unfortunately. I'd like to focus on getting more stuff working before revisiting that code, but I'd welcome a PR as well 👍

[2018-02-07 17:53] cursorial commented on #20
In the interest of not creating hundreds of issues around translations maybe we should create a parent task to encompass all languages?

[2018-02-07 19:02] 8bitDave commented on #20
I offer myself to work on a Spanish translation when necessary.

[2018-02-07 19:19] tmarie5 commented on #20
How do I get pop Jr to open text codes for Me. Could You please help Me learn more about reading text and other codes. Thank You. For everything that a you have showed Me to use already. I had hub before they even opened the sites. My email isn't the same.

[2018-02-07 21:48] TheLarkInn commented on #17
In hopes of not biting off more then I can chew, if it would be beneficial to allow a broader collaboration for this, and given a PR would be acceptable, I can create (or update this issue) to include a spec like set of requirements and isolated tasks for contributors to tackle. That way this work isn't just hung up by myself (if it turns out to be a larger task).

[2018-02-07 22:31] cursorial commented on #17
I'd be interested in helping out with this, I've been looking for a reason
to learn about how webpack is used but haven't found the right project so
it'd be a great learning experience.

On Feb 7, 2018 9:48 PM, "Sean Larkin" <notifications@github.com> wrote:

[2018-02-07 22:34] cursorial opened #24 "Create Wiki pages"
This will allow us to share knowledge about a lot of the project instead of just sticking everything in the README.

We could use it to discuss implementation details of features/mechanics, for example.

See: https://help.github.com/categories/wiki/

[2018-02-07 22:35] cursorial commented on #19
@vasilvestre @rage8885 This issue can be closed now.

[2018-02-07 23:03] phocks commented on #16
Yes this fixed it. Thanks!

[2018-02-08 02:29] #19 closed

[2018-02-08 02:32] #16 closed

[2018-02-08 07:52] whphhg commented on #17
Can you please explain (or if you have any links handy) to the layman why using `webpack` with `electron` and serving the code through a server instead of consuming it directly, would be faster?

[2018-02-08 08:02] DevNebulae commented on #20
I am offering myself to provide Dutch translations if the framework is there.

[2018-02-08 09:10] cursorial commented on #20
I remember watching something once about a guy that came up with a good way
to handle open source translations.

Essentially, he created a CSV document that could be copied for each
language, in one column he had the English versions, and in the other he
had the translation.

We could store these CSV documents locally, and then when we add the option
in for language selection we simply pick the co

[2018-02-08 12:51] xiongjy2104 opened #25 "mac sierra cannot start because of better-sqlite3 install warning"
2018-02-08 20:47:15.924 Electron Helper[24154:5630488] Couldn't set selectedTextBackgroundColor from default ()

SOLINK_MODULE(target) Release/better_sqlite3.node
clang: warning: libstdc++ is deprecated; move to libc++ with a minimum deployment target of OS X 10.9 [-Wdeprecated]
  CC(target) Release/obj.target/test_extension/deps/test_extension.o
  SOLINK_MODULE(target) Release/test_extension.node

[2018-02-08 12:55] cursorial commented on #25
Try solution listed here:

https://github.com/rage8885/OpenSC2K/issues/16

[2018-02-08 13:02] cursorial commented on #17
@whphhg I didn't think that webpack required you to serve it through a server? It can be used to just compress the code into single files can't it? Maybe I'm misunderstanding what it does?

[2018-02-08 14:50] whphhg commented on #17
@cursorial you are correct, I have misunderstood how it's used all this time. The server is only used for HMR and in production it loads the local entry point.

I've found these resources to be useful:
- https://webpack.electron.build
- https://github.com/electron-userland/electron-webpack-quick-start

[2018-02-08 15:28] lcszulpo commented on #20
I offer myself to work in the Brazilian Portuguese translations

[2018-02-08 15:36] nicholas-ochoa opened #28 "Extract and utilize original game assets"
- [X] Extract static tiles (LARGE.DAT)
- [X] Extract palette
- [X] Animated tiles (palette rotation)
- [x] Generate PNG tile maps from original game artwork
- [x] Small/Medium tiles (SMALLMED.DAT)
- [ ] Game audio files (wav)
- [ ] Game music (JS midi?)
- [ ] Support multiple versions (Win95, DOS) and common install paths (Steam, GOG)
- [ ] Game artwork (BMP to PNG conversion?)
- [ ] Supplemental

[2018-02-08 15:48] ntomsic opened #29 "Switch to PhaserIO"
Both use webgl and are considerably better than handling canvas directly.

[2018-02-08 16:16] rage8885 commented on #29
Agreed - I've already started looking in to PixiJS - after I've got the game importing assets this is my next large milestone. The canvas performance isn't terrible now, but there is a ton of room for improvement.

[2018-02-08 17:01] cursorial commented on #29
https://github.com/rage8885/OpenSC2K/issues/8

I raised the same suggestion here.

[2018-02-08 17:14] cursorial commented on #28
Game music can be played with:-

PixiJS plugin: https://github.com/pixijs/pixi-sound

or

PhaserIO includes a sound module: https://phaser.io/examples/v2/audio/sound-complete

[2018-02-08 17:29] 8bitDave commented on #20
Seeing what they have done with OpenTTD, for example, every language has its own txt file with the name of the string followed by a modificator and the string in that language, as follows:

NAME_OF_THE_STRING                 :{bold-or-whatever-modificator}This is the string itself in English

Seems a good approach, every language has its file, including English, and I assume the code refers to the

[2018-02-09 10:59] DevNebulae commented on #20
I personally like the VSCode configuration files and the way MineCraft has done configuration management. The way MineCraft does it is with JSON files which its keys get reduced into a single string (e.g. `minecraft.brewing_stand.name: "Brewing Stand"). You could also introduce YAML files which make it less syntactically heavy.

[2018-02-09 11:01] DevNebulae commented on #17
Did somebody pick this up already? I have some spare time tonight / this weekend and I want to look into this.

[2018-02-09 11:55] cursorial commented on #17
I haven't touched it yet myself, I'd just go for any issues that @rage8885
hasn't assigned to himself unless someone has commented that they're
working on it.

On Feb 9, 2018 11:01 AM, "DevNebulae" <notifications@github.com> wrote:

[2018-02-09 11:57] whphhg commented on #20
To extend on @DevNebulae locale naming suggestion. The first part of `en_US` is the `ISO 639-1 Code` [language code](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) and the second part is the `ISO 3166 Alpha-2 code` [country code](https://en.wikipedia.org/wiki/ISO_3166-1#Current_codes).

[2018-02-09 13:44] cursorial commented on #7
This can be closed now @rage8885 @msikma

[2018-02-09 13:47] cursorial commented on #25
@xiongjy2104 Did this work?

[2018-02-09 21:41] tsiq-swyx opened #31 "The module '../better_sqlite3.node' was compiled against a different Node.js version using NODE_MODULE_VERSION 59. This version of Node.js requires NODE_MODULE_VERSION 57."
getting this in the electron window when i run :(

[code]
![image](https://user-images.githubusercontent.com/35976578/36051416-0c6731a6-0db8-11e8-86c6-1067173cf389.png)

steps i have tried to do:

- this to fix my xcode warnings when i `npm install better-sqlite3`: <https://github.com/nodejs/node-gyp/issues/569>
- this aka `npm rebuild`: https://github.com/rage8885/OpenSC2K/issues/5

i am on a new

[2018-02-09 22:58] cursorial commented on #31
Did you follow the README instructions? Can you remove the directory, clone again, try the steps and post a pastebin of your output?

[2018-02-10 10:27] DevNebulae opened #32 "Switch to Sequelize or other ORM"
I am currently working on issue #17, however, the issue is that it feels rather hacky to require the database file with the bundle, since it it needs to be build specific. In other words, the database needs to reside somewhere in the `dist` or `build` folder and does not need to be bundled with the build. The database needs to be created on startup. Am I correct in stating this or is there somethi

[2018-02-10 13:03] neoneye opened #33 "macOS: libtool: unrecognized option `-static'"
# Installation

[code]

# Environment

[code]

# Thank you for OpenSC2K

Cool project.

[2018-02-10 13:13] cursorial commented on #33
Remove your directory and then follow the instructions from the README directly - you missed a few steps:

### OS X
1. `git clone https://github.com/rage8885/OpenSC2K` or download this repository
1. `cd OpenSC2K`
1. `npm install` downloads and installs the dependancies
1. `node_modules/.bin/electron-rebuild -f -w better-sqlite3` rebuilds Electron with better-sqlite3 bindings
1. `npm start` to run

[2018-02-10 18:09] rage8885 commented on #32
I'm planning to move away from the current SQLite storage to something native JS. The database currently contains the list of tiles and their properties along with the loaded/saved cities - for now it needs to be included.

[2018-02-10 18:44] cursorial commented on #33
I've just noticed that it failed on the `npm install` step, sorry.

Could you try `which libtool` and post the output?

[2018-02-10 18:56] neoneye commented on #33
It's a local install of libtool

    PROMPT> which libtool
    /Users/neoneye/bin/libtool
    PROMPT> ls -la /Users/neoneye/bin/libtool
    lrwxr-xr-x  1 neoneye  staff  27 Dec 10  2013 /Users/neoneye/bin/libtool -> ../stow/libtool/bin/libtool

I can try install a newer version

[2018-02-10 19:04] cursorial commented on #33
Try `alias libtool='usr/bin/libtool` and then try to remove OpenSC2K dir, clone again and try to reinstall.

[2018-02-10 22:24] neoneye commented on #33
Creating an alias for libtool didn't work. Wild speculation. I suspect that NPM doesn't use bash's aliases. I ended up renamed my local `libtool`, so that the system wide `/usr/bin/libtool` is being used. I'm not sure what version of `libtool` it is, since it's provided by Xcode/clang. It takes no `--version` parameter.

Now the OpenSC2K compiles and installs.

However running `npm start` does not

[2018-02-10 23:28] TheLarkInn commented on #17
Hi finally have a bit of time to split some things up here! I'm going to pull the code down first and do a little assessment before getting started.

[2018-02-11 01:17] cursorial commented on #33
You missed a step between `npm install` and `npm start`.

Try:

1. Remove directory
1. Clone again, `cd` into directory
1. `npm install`
1. `node_modules/.bin/electron-rebuild -f -w better-sqlite3`
1. `npm start`

[2018-02-11 01:29] neoneye commented on #33
I followed all the steps as described, including step 4.

I didn't copy/paste the sequence of `rm`, `git clone`, `cd`, since these steps are kind of trivial.

[2018-02-11 01:32] cursorial commented on #33
Can you post the contents of /Users/neoneye/.npm/_logs/
2018-02-10T22_13_41_909Z-debug.log

On Feb 11, 2018 1:29 AM, "Simon Strandgaard" <notifications@github.com>
wrote:

[2018-02-11 03:10] neoneye commented on #33
[code]

[2018-02-11 11:03] DevNebulae commented on #32
So if I understand correctly, the database file contains a list of all the tile sprites (or their location) and the data about a city (which building is where, roads, streets, etcetera).

[2018-02-11 11:04] DevNebulae commented on #17
@TheLarkInn I discovered an issue while trying to implement this feature, check #32 to see the issue I ran into, but it is being worked on.

[2018-02-11 15:54] rage8885 commented on #32
Correct - at the moment it's a table of tiles (and their attributes) and a table of map data (position of each cell, what building, terrain, zone, network, any other attributes). Nothing that can't be stored another way, initially they were both a JSON file, but the city file is 16384 entries for a standard 128x128 sized city.

[2018-02-12 04:49] Luraktinus opened #38 "Port to web"
is it possible to play it without electron?

[2018-02-12 05:00] rage8885 commented on #38
Long term yes, short term some dependencies require native components.

[2018-02-12 14:29] rage8885 commented on #29
Switched from Pixi to Phaser once I realized how much Pixi is lacking (and what Phaser takes care of for you). Seeing some huge performance gains with frame rates at a solid 60fps with the entire map on screen. Still needs a lot of work specifically around z-order issues and getting animations working again, but it's progressing. Hoping to put a version up in the next day or so, eventually this wi

[2018-02-12 14:31] cursorial commented on #29
Nice to see Phaser winning you over, it's a solid library with some really
nice features.

Looking forward to seeing what you've come up with!

On Feb 12, 2018 2:29 PM, "Nicholas Ochoa" <notifications@github.com> wrote:

[2018-02-13 12:15] vinzruzell commented on #20
Can I contribute filipino translation in here. Pls let me know. Thank you so.much.

[2018-02-13 19:12] danawoodman opened #39 "This is awesome!"
Wow, this is pretty awesome! Must have been a ton of work to do but it looks incredible!

Just dropping in to give you an 👏  🙇

[2018-02-13 19:12] #39 closed

[2018-02-14 03:56] jannacek opened #40 ":( did not work/ atttached log"
[npm-debug.log](https://github.com/rage8885/OpenSC2K/files/1722578/npm-debug.log)

[2018-02-14 05:13] rage8885 commented on #29
It's coming along very well - I've finally got it back up and running to the point it was before switching to Phaser - just need to work out a few remaining bugs and hoping to post a commit tomorrow evening with the changes.

Solid 60fps will full animations, also have the game asset extraction / import / tile map generation completed - if a bit ugly. That'll be included as well.

Next steps after

[2018-02-14 17:43] cursorial commented on #29
You're probably good for now, but [Phaser 3](github.com/photonstorm/phaser) has just been released.

It is bleeding edge at the moment so you've probably got a bit of time but it's there.

[2018-02-17 12:55] Luraktinus commented on #38
the thing is, electron is really hated by the community which is reasonable...

a huge amount of people wouldn't want to touch or try that game because of electron

[2018-02-17 13:09] kokarn commented on #38
I'd just have to say that I don't agree with this at all.
Electron is great for this type of thing, among a lot of others.

AFAIK it's only growing with more and more people & companies using it to quickly build cross-platform solutions.

OFC it's not the most performant way but that's usually worth it in the end because of the much quicker development cycle.

[2018-02-20 12:24] DevNebulae commented on #40
You forgot a step in the README. You forgot to rebuild Electron with the better-sqlite bindings.

[2018-02-20 12:25] DevNebulae commented on #32
I am currently looking into ORM's for JavaScript and I want to recommend [TypeORM[(https://github.com/typeorm/typeorm/). It also has bindings for WebSQL.

[2018-02-21 23:10] Daniel15 commented on #38
@kokarn - A lot of the appeal of writing something in JavaScript is that you can run it in a browser without downloading or installing anything, and that it works on any OS without changes. Electron defeats that purpose :)

[2018-02-22 08:45] kokarn commented on #38
It is indeed nice that some things run great in the browser. I'm not sure if this is one of those things tho.

Take Discord or Slack as great examples of things that absolutely run great in a browser but most people still want to download the apps because they simply run better.

If it would be no extra work I would be all for ofc because more is better. Just wanted to add my 2c so it's just not o

[2018-02-22 14:53] rage8885 commented on #38
I've been hard at work the last two weeks with a complete re-write using Phaser 3, webpack/eslint/babel, and a whole re-structure of the project. So far I've removed the dependency on native SQLite from the tile database. Re-working how city data is stored so I can remove the SQLite dependency entirely. Right now, I have it running outside of Electron (getting web pack, electron, phaser and my cod

[2018-02-22 17:39] #40 closed

[2018-02-22 17:40] #33 closed

[2018-02-22 17:40] #25 closed

[2018-02-22 17:40] #20 closed

[2018-02-22 17:46] #3 closed

[2018-02-22 17:48] rage8885 commented on #17
The re-write is now using webpack/eslint, closing this one.

[2018-02-22 17:48] #17 closed

[2018-02-23 04:38] Luraktinus commented on #38
wow, awesome OwO

[2018-02-24 13:01] dherediat97 opened #41 "Fixed typo in the readme"
Hello you put in the readme this
`git clone https://github.com/rage8885/OpenSC2K`

and you forget the ".git", only is that.

Greetings @dherediat97! 👍

[2018-02-25 03:15] ntomsic commented on #29
Any eta when the rewrite will be up? Was wanting to contribute, but have to wait till that's done.

[2018-03-01 03:50] rage8885 commented on #41
.git is not required when cloning:

❯ git clone https://github.com/rage8885/OpenSC2K
Cloning into 'OpenSC2K'...
remote: Counting objects: 2177, done.
Receiving objects:  99% (2157/2177), 11.04 MiB | 1.15 MiB/s

[2018-03-01 03:50] #41 closed

[2018-03-01 04:08] rage8885 commented on #38
The rewrite has been pushed, still very much a WIP but it eliminates the Electron and SQLite dependencies entirely.

[2018-03-01 04:08] #38 closed

[2018-03-01 04:09] rage8885 commented on #29
@ntomsic now 😊

[2018-03-01 04:10] #29 closed

[2018-03-01 04:11] rage8885 commented on #32
I've removed the SQLite dependency entirely, closing this out.

[2018-03-01 04:11] #32 closed

[2018-03-01 04:12] rage8885 commented on #11
SQLite dependency has been removed entirely

[2018-03-01 04:12] #11 closed

[2018-03-01 04:13] #7 closed

[2018-03-01 04:13] rage8885 commented on #2
Implemented

[2018-03-01 04:13] #2 closed

[2018-03-01 14:40] rage8885 commented on #28
The re-write broken pretty much all of this code, I'm looking at fixing it over the next few days so I can finally remove the assets

[2018-03-01 14:44] rage8885 commented on #8
Some of the initial framework is in place for this (the title.js scene and ui/ui.js scene. Ultimately, I'm planning to use [Vue](https://github.com/vuejs/vue) along with the [iView UI Toolkit](https://github.com/iview/iview) to build much of the interface. I explored doing a UI entirely within the game engine but the performance considerations (even using Phaser) make that less of an option - bett

[2018-03-01 14:45] rage8885 commented on #6
Looks like someone ported [Micropolis](https://github.com/graememcc/micropolisJS) to JS which should help things quite a bit.

[2018-03-01 14:46] cursorial commented on #8
This is actually a much better idea to be fair, no point running it through
a rendering engine.

On Mar 1, 2018 2:44 PM, "Nicholas Ochoa" <notifications@github.com> wrote:

[2018-03-01 14:49] cursorial commented on #6
Yep, got some good stuff to get us going here.

On Mar 1, 2018 2:45 PM, "Nicholas Ochoa" <notifications@github.com> wrote:

[2018-03-01 20:07] dherediat97 commented on #41
well, in the gith bash on windows didnt work without the extension...

[2018-03-11 18:34] dfloer commented on #6
Hi, I'm the Dale Floer mentioned in the readme. I've been slowly working on reverse engineering the simulation, mostly from a "playing the game and seeing what happens" perspective. Right now my notes are pretty unorganized, but I'd love to put them together somewhere nice and public.

SC2k appears to behave significantly differently from Simcity (Classic) in most of the simulation, being an almos

[2018-03-11 18:39] dfloer commented on #9
It seems reasonable to go with whatever internal representation makes most sense for the game to save in, say JSON, and later make an exporter for saving compliant SC2k files. I say compliant, because the game will actually accept loading files that it'll never allow being generated (see my Floating Cloud City or Hell at Clubopolis: http://patcoston.com/sc2k/cities.asp). It's also tolerant of comp

[2018-03-12 21:58] rage8885 opened #42 "Corrupted"
Corrupt Data:

504b 0304 1400 0000 0000 cb85 6c4c 0000
0000 0000 0000 0000 0000 0700 0000 696d
706f 7274 2f50 4b03 0414 0000 0008 005c
856c 4c3d 3117 7955 0000 0072 0000 0013
0000 0069 6d70 6f72 742f 636f 6e73 7461
6e74 732e 6a73 7dcc 310a 8020 1406 e05d
f00e 6f73 e904 4183 d458 2d75 01c9 9f16
4dd1 1714 e2dd 83a6 a6d6 6ff8 1c98 8c4b
30f6 1eb0 051f 1372 865d b07b 1c9c a9a3
2205 91d2 e33a a996 389d

[2018-03-12 21:59] #42 closed

[2018-03-13 09:56] brylie commented on #6
Does SC2K still rely on cellular automata for things like power, etc.?

[2018-04-21 20:26] nivhg opened #43 "error binary-parser@1.3.2: The engine "node" is incompatible with this module. Expected version ">=5.10.0"."
Hi,

On ubuntu 16.04, on "yarn install" command, I get this :
`yarn install v1.6.0
warning You are using Node "4.2.6" which is not supported and may encounter bugs or unexpected behavior. Yarn supports the following semver range: "^4.8.0 || ^5.7.0 || ^6.2.2 || >=8.0.0"
info No lockfile found.
[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@1.2.0: The platform "linux" is incomp

[2018-04-21 22:17] verysimplyms commented on #43
Try using a newer version of node.js

[2018-04-22 05:40] nivhg commented on #43
Thanks, works great! I've used these commands to upgrade node.js :
sudo npm cache clean -f
sudo npm install -g n
sudo n stable

[2018-04-25 00:03] pranaygp opened #44 "Hosted deployment"
Hey, this repo is awesome. I managed to get it to run locally super easily, and then, just as easily, managed to deploy it to [now](https://now.sh). I threw up a deployment of the latest `master` up here:

https://simcity.now.sh/

And I think it could be awesome to keep this (or another deployment of this) up to date as changes are made so people can try it without having to run it locally. I'm ha

[2018-04-25 00:38] pranaygp commented on #28
Is it perhaps possible to convert the MIDI files first (to m3 or wav) and then use them?

[2018-04-25 17:15] pranaygp commented on #44
I'm happy to help build and maintain some sort of continuous deployment thing for the project (Disclaimer: I also happen to work at Zeit, where https://simcity.now.sh/ is hosted)

[2018-04-29 17:39] solipsist01 commented on #44
Perhaps it's also a good idea to have a dockerfile so people can pull and host it everywhere they like :)
I took the liberty to create one, and have made a pull request.

I made an automated build at the docker hub from this dockerfile and it works :)
docker run --name=opensc2k -d -p 3000:3000 --restart=always solipsist01/opensc2k

[2018-05-11 05:39] 1j01 commented on #44
[Netlify](https://www.netlify.com/) is another nice option; I only found it recently, but it's really easy to set up initially, and they have a nice option to generate "deploy preview" URLs for pull requests (not necessarily as easy to set up?)

My biggest complaints are that 1. there are a few places in the UI where it should direct you to other places, like after changing deploy settings it shou

[2018-07-25 23:55] galaxyblur opened #46 "Cameras.Controls.Smoothed removed in Phaser 3.10.1"
See: https://github.com/photonstorm/phaser/releases/tag/v3.10.1

Throws an error in out-of-the-box install in worldCamera.js. Changing to recommended SmoothedKeyControl worked as a fix.

[2018-12-10 19:39] dfloer commented on #28
I know @rage8885 already know about this, but if anyone else is looking to help, I cleaned up the documentation around the sprite file specs and made it public.

https://github.com/dfloer/SC2k-docs/blob/master/sprite%20data%20spec.md

[2018-12-10 19:56] dfloer commented on #6
Power seems to be based off a simple connectivity check. A power plant is a source and each tile sinks a certain amount of power.

It could be that it's using cellular automata, just with a simple rule of if you have any neighbours that are "alive" (powered) you are as well, at least until the number of powered tiles equals the number of tiles a power plant can put it.

One thing I did learn while

[2019-02-26 19:41] no-identd commented on #6
Note:

@chaimgingold has Github.

Also, @dfloer I think one thing you'll want to take a look at more closely consists of how industry tax works,  see especially pages 38 to 39 of the manual (PDF pages 42 to 43) and page 93 (PDF page 97):

https://classicreload.com/sites/default/files/sim-city-2000-manual.pdf

In my experience, the per-sub-industry tax setting feature is something even the vast maj

[2019-02-27 20:50] dfloer commented on #6
@no-identd: I haven't looked too closely at large parts of the simulation, including how industry tax rates effect the simulation, though I do plan on fully reverse engineering the simulation parts of the game. Primarily my focus has been on reverse engineering the various file specs, as there aren't any complete and public specs. One thing I have noticed is that the manual and PPP (Power, Politic

[2019-02-27 20:53] chaimgingold commented on #6
@dfloer excited about this project.

Yeah, that's one of the things I found in my close reading of the original SC simulation code, is that there are a lot of shortcuts/bugs—and what's a bug?—where things don't quite work as you would expect. Even Will Wright didn't realize that some of the sim code in the original SC doesn't quite do what it seems to do, like with transit connectivity, when I tal

[2019-02-27 22:49] dfloer commented on #6
@chaimgingold: I can't say what @rage8885's intention is, but when I started the reverse engineering project, I started with the intention to make an Open Source re-implementation of the Win95SE version of the game. I was planning on a "compatability" mode that was as good a recreation as the original as possible (though I hadn't intended on making the UI look exactly the same, it doesn't work wel

[2019-03-09 00:00] rage8885 commented on #6
@chaimgingold Long term I'd like to do something along the lines of what @dfloer is proposing. Reimplement the original simulation as closely as possible. But I'd also like to support larger map sizes and other features that don't exist in the original game. It's a few years away from either goal, but that's the intention at least.

[2019-07-23 22:16] TimonTheMicro opened #47 "Hi"
They said it is illegal to put their content, OK
What about 3D rendered buildings with independent textures?
https://i.imgur.com/K9jaaoX.png

[2019-07-23 22:18] dfloer commented on #47
Those look pretty similar to the original sprites, so EA could probably argue they're a derivative work. To be completely clear, you'd need to come up with completely new, non-derived sprites. I'm not a lawyer, so take this with a grain of salt.

[2019-07-23 22:19] TimonTheMicro commented on #47
I use completely different textures

[2019-07-24 20:08] Tormentor667 commented on #47
From a designer I can tell you not to worry: If you render them completely new, it’s all okay in terms of copyright.

[2019-07-24 20:19] dfloer commented on #47
@TimonTheMicro I'm not qualified to say that rendering something in 3D is easier than doing it in 2D, but talking to people who do pixel art, they don't agree that 3D is harder than doing pixel art. As the aim of this project is to recreate SC2k, it has a very particular 2.5D style that's a big draw for the game.

Creating new sprites from scratch, even based on the existing ones, should probably

[2019-07-24 21:35] TimonTheMicro commented on #47
Not sure if it would pass it or not, but bear in mind 3d shows you hidden perspectives which isometric plane cannot show you, in sc2k case, there is no any alternative perspective after changing the view.

[2019-07-24 21:56] dfloer commented on #47
@TimonTheMicro I feel like they designed the sprites originally so that the most interesting side was out. Putting a different side in the sprite out is probably going to be less interesting, and arguably _may_ still be a derivative work.

[2019-07-25 00:21] TimonTheMicro commented on #47
Finished. Visible and invisible stuff.
https://imgur.com/a/OBw0gVq
I may post some progress here recently if it is ok.

[2019-07-26 10:20] Tormentor667 commented on #47
@dfloer - Well, I can only tell you how the european copyright works, this is what I am aware of. I am notused to the US market though so things might be different here. But considering on how many projects out there use the same or a different technique (e.g. Classic Doom sourceports have 3d models based on 2d sprites; game ports from one engine to another with rebuild assets), I can imagine that

[2019-07-26 22:16] TimonTheMicro commented on #47
You know that geometry of 3d perspective differs from isometric perspective? In isometric view there is no depth.

[2019-07-27 08:33] Tormentor667 commented on #47
Which doesn't change anything about the fact that even in isometric perspective, hires sprites are doable :P

[2019-07-27 11:45] TimonTheMicro commented on #47
Tried to find a mod to sc3k which brings hd 2k sprites into the game but without success. Thought it was already done, so many years passed and it is interesting no one wanted to recreate stuff.

[2019-08-04 15:54] TimonTheMicro commented on #47
Progress post:
https://imgur.com/a/E8uFtbF

[2019-08-04 16:43] Tormentor667 commented on #47
This absolutely brilliant man, awesome work! Keep it up :) Totally in the spirit of the original!

[2019-08-07 11:53] Tijgerd commented on #47
Looks great!!

[2019-10-13 21:38] wxwisiasdf opened #53 "Windows instructions?"
Any instructions on how to install/run OSC2K?

[2020-01-25 18:31] #44 closed

[2020-01-25 18:31] #53 closed, assigned to nobody

[2020-01-25 18:34] nicholas-ochoa commented on #47
This is absolutely awesome - I love the art style as well - sort of a retro N64-era fidelity. I'm not sure if you're still working on this, but if you are I'd love to try and convert these to 2D sprites and offer it up as a default higher resolution tileset.

[2020-01-25 18:37] #24 closed

[2020-01-25 18:37] #6 closed

[2020-01-25 18:38] #9 closed

[2020-01-25 18:38] #1 closed

[2020-01-25 18:38] #8 closed

[2020-01-25 18:38] #28 closed

[2020-03-21 17:51] danieldanielecki opened #54 "Package "pngjs" refers to a non-existing file"
Can imagine that the `"pngjs": "file:C:/Users/Nicholas/Development/pngjs/",` in `package.json` has some custom modifications, but it would be good to update to certain version so we don't have errors when trying to run the repo.

[2020-04-06 11:30] danieldanielecki opened #55 "This doesn't work anymore"
The [installation with `yarn install`/`yarn dev`](https://github.com/nicholas-ochoa/OpenSC2K/tree/master#os-x--linux) is no longer working. This is both for `master` and `typescript` branch.

The `master` branch in a browser shows only black screen on the `localhost:3000` with some errors in the console:
[code]

The `typescript` branch has [local hardcoded dependency pngjs](https://github.com/nich

[2020-04-28 07:27] lukigarazus commented on #55
Does anyone look at this anymore?

[2020-04-28 11:47] dfloer commented on #55
@danieldanielecki Have you put `PAL_MSTR.BMP` file from SimCity 2000 in the specified location and are still having the problem?

[2020-04-28 13:38] nicholas-ochoa commented on #55
I'll try and look at this later this week. Most likely I'll just push the local dependency out (it's a fork of pngjs) but even then this is not in any state that is remotely playable / usable.

Please keep in mind, it doesn't currently "do" anything besides convert the tiles into PNG and start the load process.

[2020-04-28 13:38] nicholas-ochoa commented on #54
I'll try and resolve this later this week (see #55)

[2020-06-13 10:59] danieldanielecki commented on #55
@dfloer - where can I get the file from?

@nicholas-ochoa - were you able to do any progress?

[2020-06-13 10:59] danieldanielecki commented on #54
@nicholas-ochoa let's continue there then, I'll close this issue.

[2020-06-13 10:59] #54 closed, assigned to nobody

[2020-06-13 19:18] dfloer commented on #55
@danieldanielecki Retail copy of the game, not sure where you can buy the Windows 95 version these days. It can't be included here because the game seems copyright protected.

[2020-06-14 08:02] danieldanielecki commented on #55
Ohh so basically from the repo it's infeasible to clone the game.

[2021-03-14 10:35] peroman86 opened #56 "`npm i` not working from mac"
I'm trying to run a simple `npm i` and I'm getting this error message:

[code]

[2021-05-16 05:29] Ralph-dude opened #57 "It don’t worrrrrrrrrrk😫"
It don’t worrrrrrrrk😣😣😣😫😫😫😫

[2021-10-22 10:50] Trilarion commented on #57
Very detailed issue description. Could be related to #55

[2021-10-31 10:38] Nasir4162 opened #58 "Maxis Devices: Get Best Deals on Smartphones at Maxis Store | Maxis"
https://store.maxis.com.my/productlist

[2021-10-31 10:41] Nasir4162 commented on #58
nasappintal0023@gmail.com

[2021-10-31 11:55] Nasir4162 opened #59 "Lihat "Ujian kelajuan 3G, 4G, 5G, WiFi & liputan Internet""
https://play.google.com/store/apps/details?id=com.nperf.tester

[2021-10-31 12:28] Nasir4162 opened #60 "nasappintal0023@gmail.com"
edge://credits/

[2021-11-11 19:23] jkfindeisen commented on #53
Can't find build instructions too. Any help would be appreciated.